.brand {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}
.brand__block-third-read-more > button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.brand__parttitle {
  display: flex;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  position: relative;
  align-items: center;
}
.brand__parttitle::before {
  display: flex;
  position: absolute;
  content: '';
  height: 40px;
  width: 2px;
  border-style: solid;
  border-color: #41f6d7;
  background-color: #41f6d7;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  left: 0;
}
.brand__block-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand__block-first-title,
.brand__block-first-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brand__block-first-buttons {
  padding-right: 1rem;
  gap: 1rem;
}
.brand__button {
  width: 168px;
  height: 40px;
  border: none;
  text-align: left;
  position: relative;
  background-color: rgba(248, 248, 248, 1);
}
.brand__button-icon-repair {
  width: 40px;
  height: 40px;
  right: 0;
  top: 0;
  position: absolute;
  background: #f8f8f8 url('../icon/repair.svg');
}

.brand__button-icon-checkstatus {
  width: 40px;
  height: 40px;
  right: 0;
  top: 0;
  position: absolute;
  background: rgba(248, 248, 248, 1) url('../icon/checkstatus.svg');
}

.brand__list-item > li :focus {
  background-color: rgb(255, 255, 255);
  border: #b8ffec;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 2px;
}
.brand__block-second {
  display: flex;
}

.brand__list-item {
  display: flex;
  height: 5rem;
  flex-direction: row;
  align-items: center;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  list-style-type: none;
  padding: 0;
  white-space: nowrap;
  column-gap: 2rem;
  color: #7e7e82;
}
.brand__list-item::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Стили для ссылок */
a {
  text-decoration: none;
  color: inherit;
}

.brand__item-repair-brands {
}

.brand__block-third {
  display: flex;
}
.brand__block-third-button.more::before {
  transform: rotate(180deg);
  position: relative;
  top: -3px;
}
.brand__block-third-button::before {
  position: relative;
  top: 3px;
  content: url(../icon/expand.svg);
}
.brand__block-third-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brand__block-third-text-one,
.brand__block-third-text-two {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (max-width: 767px) {
  .brand__parttitle {
    padding-left: 0.875rem;
  }
  .brand__block-first-buttons {
    display: none;
  }
  .brand__block-second {
    padding-left: 1rem;
    padding-top: 1.5rem;
  }
  .brand__block-first {
    padding-top: 1.5rem;
  }
  .image-CPS {
    width: 100%;
  }
  .brand__block-third {
    flex-direction: column;
    column-gap: 5vw;
  }

  .brand__block-third-one {
    min-height: 100px;
    min-width: 360px;
  }
  .brand__block-third-text {
    overflow: hidden;
    max-width: 90%;
    min-height: 90%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    padding-left: 1rem;
  }
  .brand__block-third-text.text-read-more {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: visible;
  }
  .brand__block-third-read-more {
    padding-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .brand__list-item {
    width: 100vw;
    height: 2rem;
  }
}
@media (min-width: 767px) and (max-width: 1119px) {
  .brand__block-first-buttons {
    display: none;
  }
  .brand__parttitle {
    padding-left: 1.5rem;
  }
  .brand__block-first {
    padding-top: 1.5rem;
  }
  .brand__block-second {
    padding-left: 1.5rem;
    padding-top: 2rem;
  }
  .brand__block-third {
    padding-left: 1.5rem;
    padding-top: 2rem;
  }
  .brand__block-third-one {
    min-height: 200px;
    width: 400px;
  }
  .brand__block-third-text {
    overflow: hidden;
    width: 90%;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
  }
  .brand__block-third-text.text-read-more {
    display: flex;
    flex-direction: column;

    overflow: visible;
  }
  .brand__block-third-read-more {
    padding-top: 1%;
  }
  .image-CPS {
    padding-left: 5vw;
    width: 100%;
  }
  .brand__list-item {
    height: 2rem;
  }
}
@media (min-width: 1119px) {
  .brand__parttitle {
    padding-left: 2rem;
  }
  .brand__block-first {
    padding-top: 2.625rem;
  }
  .brand__list-item {
    padding-left: 2rem;
    padding-top: 0.5rem;
    overflow: scroll;
    flex-wrap: wrap;
    gap: 1rem;
    column-gap: 3rem;
  }

  .brand__block-third {
    width: 100%;
    padding-left: 2rem;
    padding-top: 1.188rem;
    padding-bottom: 2%;
  }
  .brand__block-third-image {
    padding-left: 2.25rem;
  }

  .brand__block-third-one {
    min-height: 300px;
    width: 600px;
  }
  .brand__block-third-text {
    overflow: hidden;
    width: 90%;

    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
  }
  .brand__block-third-text.text-read-more {
    display: flex;
    flex-direction: column;
    overflow: visible;
  }
}

@media (max-width: 320px) {
  .wrapper {
    overflow: scroll;
  }
}
