.feedback__processing-text--style {
  color: rgba(255, 62, 121, 1);
}
.feedback__title::before {
  content: '';
  height: 32px;
  width: 1px;
  position: relative;
  right: 1.2rem;
  border-style: solid;
  border-color: #41f6d7;
  background-color: #41f6d7;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  transform: translate(-1rem);
  -webkit-transform: translate(-1rem);
}

/* Button */
.feedback__button-submit > button {
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.feedback__button-submit {
  max-width: 136px;
  max-height: 32px;
}
.feedback__button-form > span {
  content: url('../icon/price-repair-icon.svg');
  vertical-align: middle;
  margin-left: 1rem;
}
.feedback__button-form {
  display: flex;
  align-items: center;
  max-width: 136px;
  max-height: 32px;
  border-radius: 10px;
  background-color: rgba(255, 62, 121, 1);
  color: white;
  margin: 23px 32px 0 272px;
}
.feedback__button-close {
  position: relative;
  top: 3.5rem;
  right: 5rem;
}
.feedback__button-close-active {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  width: 40px;
  height: 40px;
  background-color: rgba(126, 126, 130, 0);
}
.feedback__button-close-active--style {
  background-image: url(../icon/close-icon.svg);
}

/* text */
.feedback__processing {
  max-width: 376px;
  margin: 1rem 0 0 0rem;
}
.feedback__processing-text {
  font-size: 0.9rem;
  color: rgba(126, 126, 130, 1);
}

/* Form */

.feedback__label {
  font-size: 1rem;
  display: block;
  margin-top: 1rem;
}

textarea.feedback__input {
  min-height: 118px;
  resize: vertical;
}

@media (max-width: 767.999px) {
  dialog {
    position: absolute;
    top: 0;
    margin-top: 0;
  }
  .feedback__modal[open] {
    max-width: 320px;
    min-height: 676px;
    padding: 0;
    border: none;
    margin-left: 0px;
    box-shadow: -10px 0px 20px 0px rgba(14, 24, 80, 0.2);
  }
  .feedback__modal::backdrop {
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  }

  .feedback__button-close {
    position: relative;
    top: 0.5rem;
    left: 0rem;
    margin-bottom: 2.5rem;
  }
  .feedback__modal-inner {
    max-width: 320px;
    max-height: 676px;
    padding: 1rem;
  }
  .feedback__input {
    min-width: 269px;
    height: 48px;
    margin-right: 1rem;
  }
  .feedback__button-form {
    margin: 23px 32px 0 160px;
  }
  .feedback__processing {
    max-width: 280px;
  }
}

@media (min-width: 768px) and (max-width: 1118.999px) {
  dialog {
    position: absolute;
    top: 0;
    margin-top: 0;
  }
  .wrapper.feedback__lock {
    overflow: hidden;
    height: 1024px;
  }
  .feedback__modal[open] {
    min-width: 440px;
    min-height: 1024px;
    padding: 0;
    border: none;
    margin-right: 0.00000001%;
    left: 40rem;
    display: flex;
    flex-direction: column;
    box-shadow: -10px 0px 20px 0px rgba(14, 24, 80, 0.2);
  }

  .feedback__modal::backdrop {
    opacity: 0.7;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  }

  .feedback__button-close {
    position: relative;
    top: 1rem;
    left: 0rem;
    margin-bottom: 2.5rem;
  }
  .feedback__modal-inner {
    max-width: 440px;
    max-height: 1024px;
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  .feedback__input {
    min-width: 376px;
    height: 48px;
    margin-right: 1rem;
  }
  .feedback__button-form {
    margin: 23px 32px 0 260px;
  }
  .feedback__title::before {
    right: 1.4rem;
  }
}

@media (min-width: 1120px) {
  dialog {
    position: absolute;
    top: 0;
    margin-top: 0;
  }
  .wrapper.feedback__lock {
    overflow: hidden;
    height: 1045px;
  }
  .feedback__modal[open] {
    min-width: 440px;
    min-height: 1045px;
    padding: 0;
    border: none;
    margin-right: 0.00000001%;
    position: fixed;

    display: flex;
    flex-direction: column;
    box-shadow: -10px 0px 20px 0px rgba(14, 24, 80, 0.2);
  }

  .feedback__modal::backdrop {
    opacity: 0.9;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  }

  .feedback__button-close {
    position: relative;
    top: 1rem;
    left: 0rem;
    margin-bottom: 2.5rem;
  }
  .feedback__modal-inner {
    max-width: 440px;
    max-height: 1024px;
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  .feedback__input {
    min-width: 376px;
    height: 48px;
    margin-right: 1rem;
  }
  .feedback__button-form {
    margin: 23px 32px 0 260px;
  }
  .feedback__title::before {
    right: 1.4rem;
  }
}

@media (min-width: 1440px) {
  dialog {
    position: absolute;
    top: 0;
    margin-top: 0;
  }
  .wrapper.feedback__lock {
    overflow: hidden;
    height: 1045px;
  }
  .feedback__modal[open] {
    min-width: 440px;
    min-height: 1045px;
    padding: 0;
    border: none;
    margin-right: 9%;
    inset-block-start: 0px;
    display: flex;
    flex-direction: column;
    box-shadow: -10px 0px 20px 0px rgba(14, 24, 80, 0.2);
  }

  .feedback__modal::backdrop {
    opacity: 0.9;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  }

  .feedback__button-close {
    position: relative;
    top: 1rem;
    left: 0rem;
    margin-bottom: 2.5rem;
  }
  .feedback__modal-inner {
    max-width: 440px;
    max-height: 1024px;
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  .feedback__input {
    min-width: 376px;
    height: 48px;
    margin-right: 1rem;
  }
  .feedback__button-form {
    margin: 23px 32px 0 260px;
  }
  .feedback__title::before {
    right: 1.4rem;
  }
}
