.feedback {
  display: none;
  flex-direction: column;
  width: 440px;
  min-height: 676px;
}
.feedback__wrapper {
}
.feedback__title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  padding: 0 0 0 1rem;
}

/* Button */
.feedback__button > button {
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.feedback__button-form > span {
  content: url('../icon/price-repair-icon.svg');
  vertical-align: middle;
  margin-left: 1rem;
}
.feedback__button-form {
  display: flex;
  align-items: center;
  max-width: 136px;
  max-height: 32px;
  border-radius: 10px;
  background-color: rgba(255, 62, 121, 1);
  color: white;
  margin: 23px 32px 0 272px;
}

/* text */
.feedback__processing {
  margin: 1rem 0 0 1rem;
}
.feedback__processing-text {
  font-size: 0.9rem;
  color: rgba(126, 126, 130, 1);
}

/* Form */
.feedback__form {
}
.feedback__form-item {
}
.feedback__label {
  font-size: 1rem;
  display: block;
  margin-top: 1rem;
}
.feedback__input {
  display: block;
  min-width: 376px;
  height: 48px;
  border-radius: 5px;
  margin: 0 0 0 1rem;
  padding-left: 1rem;
}
