.footer {
}
.footer__wrapper {
  display: flex;
  width: 100%;
}
.footer__developed-mail {
}
.footer__confidentiality {
}
.footer__offer {
}

@media (min-width: 1120px) {
  .footer__wrapper {
    margin-left: 320px;
  }
}
