.header__nav,
.header__group-first,
.header__group-second,
.header__group-second-one,
.header__group-second-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.header__nav {
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
}

.header__divider-one {
  border-width: 1px;
  height: 32px;
  border-style: solid;
  color: #eaeaea;
  border-radius: 1px;
}
.header__divider-two {
  border-width: 1px;
  height: 32px;
  border-style: solid;
  color: #eaeaea;
  border-radius: 1px;
}

@media (max-width: 767px) {
  .header__divider-one {
    display: none;
  }
  .header__group-second-one {
    display: none;
  }
  .header__nav {
    padding-left: 1rem;
    justify-content: space-between;
  }
  .header_wrapper {
    min-width: 50.57vw;
  }
}

@media (min-width: 768px) {
  .header__nav {
    justify-content: space-between;
  }
  .header__group-second-one {
    display: flex;
  }
  .header__divider-one {
    display: flex;
  }
  .header__nav {
    padding-left: 1.5rem;
  }
}

@media (min-width: 1119px) {
  .header__wrapper {
    display: none;
  }
}

@media (max-width: 767.999px) {
  .header__nav.open-menu {
    visibility: visible;
    display: flex;
    width: 80%;
    flex-direction: row;
    position: fixed;
    z-index: 3;
    justify-content: space-between;
  }
  .header__divider-two.open-menu {
    display: none;
  }
  .button-repair.open-menu {
    display: none;
  }
  .button-header--burger.open-menu {
    content: url(../icon/burger-close-icon.svg);
  }
}
@media (min-width: 768px) and (max-width: 1118.999px) {
  .header__nav.open-menu {
    visibility: visible;
    display: flex;
    width: 320px;
    flex-direction: row;
    position: fixed;
    z-index: 3;
    justify-content: space-around;
    padding-left: 0;
  }
  .header__divider-two.open-menu {
    display: none;
  }
  .header__divider-one.open-menu {
    display: none;
  }
  .button-repair.open-menu {
    display: none;
  }
  .header__group-second-one.open-menu {
    display: none;
  }
  .button-header--burger.open-menu {
    content: url(../icon/burger-close-icon.svg);
  }
}
