.technology__repair-brands {
  margin: 1rem 0 0 1rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: rgba(126, 126, 130, 1);
  font-weight: 200;
}
.technology__swiper--slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px !important;
  height: 160px;
  border: solid 1px #eaeaea;
  border-radius: 0.5rem;
}

.technology__button-expand::before {
  content: url(../icon/icon-open.svg);
}
.technology__button-expand {
  cursor: pointer;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.technology__button-wrapper {
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.technology__button-text-expand {
  margin-left: 1rem;
}
.technology__button-expand .technology-expand {
  transform: rotate(180deg);
}
.technology__swiper-wrapper > .technology__swiper--slide {
  display: flex;
}
.technology-slide__text {
  display: flex;
  margin: 0;
  align-self: baseline;
  padding: 1rem 0 0 1rem;
}
.technology__button {
  margin: 6rem 1rem 1rem auto;
}
.technology__swiper {
  width: 250px;
  min-height: 210px;
}
.technology__swiper-wrapper {
  gap: 1.22rem;
  margin-top: 1rem;
}
@media (min-width: 768px) and (max-width: 1449.99px) {
  .technology__swiper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-self: start;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }
  .technology__swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    max-width: 100%;
    justify-content: flex-start;
    row-gap: 1.5rem;
  }

  .technology__swiper div:nth-child(n + 4) {
    display: none;
  }

  .technology-expand div:nth-child(n + 4) {
    display: flex;
  }
}

@media (min-width: 1449.99px) {
  .technology__swiper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }
  .technology__swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    column-gap: 2rem;
    justify-content: flex-start;
  }
  .technology__swiper div:nth-child(n + 5) {
    display: none;
  }
  .technology-expand div:nth-child(n + 5) {
    display: flex;
  }
}
@media (max-width: 767px) {
  .technology__button-wrapper {
    display: none;
  }
}
