.technology__repair-brands {
  margin: 1rem 0 0 1rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: rgba(126, 126, 130, 1);
  font-weight: 200;
}
.technology__swiper--slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 240px !important;
  height: 160px;
  border: solid 1px #eaeaea;
  border-radius: 0.5rem;
}
.technology-slide__text {
  display: flex;
  margin: 0;
  align-self: baseline;
  padding: 1rem 0 0 1rem;
}
.technology__button {
  margin: 6rem 1rem 1rem auto;
}
.technology__swiper {
  width: 240px;
  height: 160px;
}
.technology__swiper-wrapper {
  gap: 1rem;
  margin-top: 1rem;
}
